@model bcsf17a554.Models.Post
@{ Layout = "~Views/Shared/_Layout2.cshtml"}
<form>
    <input asp-for="title" /><br />
    <input asp-for="content" /><br />
    <button asp-action="create" value="do post"></button><br />
</form>
