@model bcsf17a554.Models.User
<html>
<head>
</head>
<body>
    <form class="container">

        <input asp-for="name" /><br />
        <input asp-for="password" /><br />
        <button asp-action="login">LOGIN</button><br />
    </form>
</body>
</html>